# Question 1
Create two numpy arrays and find the variance between two of them

In [45]:
import numpy as np

n1=np.array([2, 4, 6, 8, 10])
n2=np.array([1, 3, 5, 7, 9])
var1=np.var(n1)
var2=np.var(n2)
print(var1)
print(var2)

8.0
8.0


    Question 2
    Find the covariance of a given array
    x = np.array([[3, 1, 4], [7, 3, 8], [1, 5, 7]])

In [4]:
import numpy as np

In [32]:
x = np.array([[3, 1, 4], [7, 3, 8], [1, 5, 7]])
x_var=np.cov(x)
print(x_var)

[[2.33333333 4.         0.66666667]
 [4.         7.         0.        ]
 [0.66666667 0.         9.33333333]]

# Question 3
Find the covariance of two series, define two list and covert to series then find the
covariance

In [12]:
import pandas as pd
import numpy as np
import statistics
from statistics import 
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

In [28]:
l1=pd.Series(l1)
l2=pd.Series(l2)
cov=l1.cov(l2)
print(cov)

2.5

# Question 4
find the covariance from the given dataframe:
data = {"col1":[1,5,4],"col2":[3,7,1],"col3":[6,8,1],"col4":[10,7,2]}

In [24]:
data = {"col1":[1,5,4],"col2":[3,7,1],"col3":[6,8,1],"col4":[10,7,2]}

In [30]:
df=pd.DataFrame(data)
print(df.cov())

              col1       col2          col3       col4
col1  4.333333e+00   2.666667  2.220446e-16  -5.166667
col2  2.666667e+00   9.333333  1.000000e+01   5.666667
col3  2.220446e-16  10.000000  1.300000e+01  11.500000
col4 -5.166667e+00   5.666667  1.150000e+01  16.333333

# Question 5
Create a dataframe with NAN values and find their covariance

In [36]:
d1=pd.DataFrame({"col1":[1,5,np.nan],"col2":[3,np.nan,1],"col3":[6,8,1],"col4":[10,7,np.nan]})

In [37]:
d1.cov()

      col1  col2  col3  col4
col1   8.0   NaN   4.0  -6.0
col2   NaN   2.0   5.0   NaN
col3   4.0   5.0  13.0  -3.0
col4  -6.0   NaN  -3.0   4.5